# PostgreSQL
POSTGRES_DB=control_de_citas
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432

# Django
DJANGO_SECRET_KEY=change_me_to_a_long_random_value
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
API_PORT=8000

# Frontend
FRONTEND_PORT=3000
